Repository Chrtyaka/vue-use-bem: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npm run format:fix {staged_files} && git add {staged_files}

eslint:
  run: npm run lint {staged_files}

docs(composable): add docs for bem method
  docs/composable.md
  src/use-bem.ts
Due: prettier, eslint

docs(composable): add ts docs to methods
  src/use-bem.ts
Due: prettier, eslint

docs(api): add typings for doc
  docs/.vitepress/config.ts
  docs/api.md
  src/use-bem.ts
Due: prettier, eslint

build: exclude vitest config. fix types path
  tsconfig.json
Due: prettier

docs: add docs link
  README.md
Due: none

chore: create license file
  LICENSE
Due: none

build: add workflow for unit tests
  .github/workflows/test.yml
Due: none

build(semantic-release): add semantic release package
  package.json
  pnpm-lock.yaml
Due: prettier

build(semantic-release): add semantic release configuration
  .release.config.cjs
Due: none

build(semantic-release): add semantic release changelog plugin
  package.json
  pnpm-lock.yaml
Due: prettier

build(semantic-release): fix config name
  release.config.cjs
Due: none

build(semantic-release): fix config name
  .release.config.cjs
Due: none

build(semantic-release): add git plugin. add release commands
  package.json
  pnpm-lock.yaml
Due: prettier

ci: add release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  cc932fb6940db2fcaacd04e52a2957b0602e2dba
Due: none

build: update exports
  package.json
Due: prettier

ci: runs release after tests on main branch
  .github/workflows/release.yml
Due: none

fix(release): force release
  README.md
Due: none

chore(release): 1.0.1 [skip ci]
  package.json
Due: prettier

Notes added by 'git notes add'
  0635e10a393e0f368d25202bba6ebed1c5f6e741
Due: none

feat(hyphenate): add feature to conver camel case to kebab case
  src/hyphenate.ts
  src/tests/hyphenate.spec.ts
Due: prettier, eslint

refactor(bem): refactor bem generator
  src/bem.ts
  src/plugin.ts
  src/types.ts
  src/use-bem.ts
Due: prettier, eslint

docs(hyphenate): add docs on hyphenate feature
  docs/configuration.md
Due: none

chore(release): 1.1.0 [skip ci]
  package.json
Due: prettier

Notes added by 'git notes add'
  d2f518708ed7aab10a236087dac21d6fd86d8a9c
Due: none

fix: add urls to package json
  package.json
Due: prettier

chore(release): 1.1.1 [skip ci]
  package.json
Due: prettier

Notes added by 'git notes add'
  b820dcf01414d417b8af0d9077e4f2d4d1c68569
Due: none

fix: fix package file
  package.json
  rollup.config.js
Due: prettier, eslint

Notes added by 'git notes add'
  fe1559a45ab8be3a77969a8c57651180f1d75d6b
Due: none

chore(release): 1.1.2 [skip ci]
  package.json
Due: prettier

fix(workflow): add build step to release workflow
  .github/workflows/release.yml
Due: none

chore(release): 1.1.3 [skip ci]
  dist/index.cjs
  dist/index.d.ts
  dist/types/index.d.ts
  dist/types/src/bem.d.ts
  dist/types/src/constants.d.ts
  dist/types/src/hyphenate.d.ts
  dist/types/src/plugin.d.ts
  dist/types/src/types.d.ts
  dist/types/src/use-bem.d.ts
  package.json
Due: prettier, eslint

Notes added by 'git notes add'
  24e54e470a89e4016e6d22019709e74b4be3c4fd
Due: none

chore: remove dist
  dist/index.cjs
  dist/index.d.ts
  dist/types/index.d.ts
  dist/types/src/bem.d.ts
  dist/types/src/constants.d.ts
  dist/types/src/hyphenate.d.ts
  dist/types/src/plugin.d.ts
  dist/types/src/types.d.ts
  dist/types/src/use-bem.d.ts
Due: prettier, eslint

fix(types): export private types
  src/types.ts
Due: prettier, eslint

chore(release): 1.1.4 [skip ci]
  dist/index.cjs
  dist/index.d.ts
  dist/types/index.d.ts
  dist/types/src/bem.d.ts
  dist/types/src/constants.d.ts
  dist/types/src/hyphenate.d.ts
  dist/types/src/plugin.d.ts
  dist/types/src/types.d.ts
  dist/types/src/use-bem.d.ts
  package.json
Due: prettier, eslint

Notes added by 'git notes add'
  58c0e8259847237dbd0f01202b4ef2b19dbcb489
Due: none

feat(unref-bem): unref bem function value
  src/use-bem.ts
Due: prettier, eslint

fix(dts): fix build types. remove plugin dts
  .gitignore
  dist/index.cjs
  dist/index.d.ts
  dist/types/index.d.ts
  dist/types/src/bem.d.ts
  dist/types/src/constants.d.ts
  dist/types/src/hyphenate.d.ts
  dist/types/src/plugin.d.ts
  dist/types/src/types.d.ts
  dist/types/src/use-bem.d.ts
  package.json
  rollup.config.js
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,ts,vue,scss,json}
  eslint: any of: *.{js,ts,vue}
