Repository Chrtyaka/vue-use-bem: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

commit-msg:
  commands:
    'commitlint':
      run: npx commitlint --edit {1}

pre-commit:
  commands:
    prettier:
      glob: '*.{js,ts,vue,scss,json}'
      run: npm run format:fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,vue}'
      run: npm run lint {staged_files}

chore: change license. add format and lint scripts
  package.json
Due: prettier

feat: add basic implimentation
  package.json
  pnpm-lock.yaml
  src/use-bem.spec.ts
  src/use-bem.ts
  src/utils.ts
Due: prettier, eslint

chore: add vue demi
  package.json
  pnpm-lock.yaml
Due: prettier

refactor: refactor vue use logic
  src/bem.ts
  src/index.ts
  src/types.ts
  src/use-bem.ts
  src/utils.ts
Due: prettier, eslint

test: remove old test
  src/use-bem.spec.ts
Due: prettier, eslint

chore: move commitlint to cjs
  commitlint.config.cjs
Due: none

chore: add nvmrc
  .nvmrc
Due: none

feat: add computed to full bem function
  src/use-bem.ts
Due: prettier, eslint

chore: update gitignore
  .gitignore
Due: none

build: update npmrc
  .npmrc
Due: none

chore: update ts config
  tsconfig.json
Due: prettier

build: add entry point
  index.ts
Due: prettier, eslint

build: add rollup plugins and move vue-demi to actual deps
  package.json
  pnpm-lock.yaml
Due: prettier

build: setup build config
  rollup.config.js
  rollup.config.ts
Due: prettier, eslint

build: update config for build dts files
  rollup.config.js
Due: prettier, eslint

feat(namespace): setup namespace injection
  src/plugin.ts
  src/types.ts
  src/use-bem.ts
Due: prettier, eslint

build: update exported functions
  index.ts
  src/plugin.ts
Due: prettier, eslint

feat(config): add provided config for bem delimiters and bem method
  src/bem.ts
  src/config.ts
  src/plugin.ts
  src/types.ts
  src/use-bem.ts
Due: prettier, eslint

refactor: move config.ts -> constants.ts
  src/constants.ts
Due: prettier, eslint

refactor: move config.ts -> constants.ts
  src/plugin.ts
Due: prettier, eslint

fix: fix using computed ref without .value
  src/use-bem.ts
Due: prettier, eslint

test: update test environment
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: prettier, eslint

test: update test environment
  package.json
Due: prettier

refactor: move config.ts -> constants.ts
  src/config.ts
Due: prettier, eslint

test: add function to emulate vue components
  src/tests/with-setup.ts
Due: prettier, eslint

test: start adding tests
  src/tests/use-bem.spec.ts
Due: prettier, eslint

test: add tests for basic functions
  src/plugin.ts
  src/tests/use-bem.spec.ts
Due: prettier, eslint

test: update tests
  src/tests/use-bem.spec.ts
Due: prettier, eslint

feat(types): now refs and reactive objects supports
  src/bem.ts
Due: prettier, eslint

chore: move warning to constant
  src/constants.ts
Due: prettier, eslint

chore: update types for refs and reactive objects
  src/types.ts
Due: prettier, eslint

feat(types): use new types
  src/use-bem.ts
Due: prettier, eslint

test: add test on plugin setup
  src/constants.ts
  src/plugin.ts
  src/tests/use-bem.spec.ts
Due: prettier, eslint

refactor(vue-demi): drop vue-demi move to support only vue3
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/bem.ts
  src/plugin.ts
  src/tests/use-bem.spec.ts
  src/tests/with-setup.ts
  src/types.ts
  src/use-bem.ts
Due: prettier, eslint

docs: start adding docs
  README.md
  docs/logo.webp
Due: none

docs: fix styles and typos
  README.md
Due: none

docs: add vitepress
  .gitignore
  README.md
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-6D52LDDM.js
  docs/.vitepress/cache/deps/chunk-6D52LDDM.js.map
  docs/.vitepress/cache/deps/chunk-XFJY6KS3.js
  docs/.vitepress/cache/deps/chunk-XFJY6KS3.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/config.ts
  docs/api.md
  docs/configuration.md
  docs/get-started.md
  docs/index.md
  docs/logo.webp
  docs/markdown-examples.md
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

feat(global): add props for disable inject global method
  src/plugin.ts
  src/tests/use-bem.spec.ts
  src/types.ts
  src/use-bem.ts
Due: prettier, eslint

feat(bem): make mods optional. update tests
  src/bem.ts
  src/plugin.ts
  src/tests/use-bem.spec.ts
  src/use-bem.ts
Due: prettier, eslint

docs(composable): start adding docs for composable
  docs/.vitepress/config.ts
  docs/composable.md
  docs/configuration.md
  docs/get-started.md
  docs/index.md
Due: prettier, eslint
