Repository Chrtyaka/vue-use-bem: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npm run format:fix {staged_files} && git add {staged_files}

eslint:
  run: npm run lint {staged_files}

chore: remove rollup dts
  package.json
  pnpm-lock.yaml
Due: prettier

chore(release): 1.1.5 [skip ci]
  dist/index.cjs
  dist/types/index.d.ts
  dist/types/src/bem.d.ts
  dist/types/src/constants.d.ts
  dist/types/src/hyphenate.d.ts
  dist/types/src/plugin.d.ts
  dist/types/src/types.d.ts
  dist/types/src/use-bem.d.ts
  package.json
Due: prettier, eslint

Notes added by 'git notes add'
  dc3c2d14b133c92e4aaa47c8ac71a1f7e36a5e49
Due: none

fix(bem): add default values to injected properties
  src/use-bem.ts
Due: prettier, eslint

chore(release): 1.1.6 [skip ci]
  dist/index.cjs
  package.json
Due: prettier

Notes added by 'git notes add'
  5de6b88f7b963b82ff0e3ed7beaac4791dec81a8
Due: none

fix(injection): provide all injected symbols if options is not specified
  src/plugin.ts
Due: prettier, eslint

chore(release): 1.1.7 [skip ci]
  dist/index.cjs
  package.json
Due: prettier

Notes added by 'git notes add'
  a03b72a5ad19d2d4e3b0282073658d5bc0c89181
Due: none

fix(release): force release
  README.md
Due: none

chore(release): 1.1.8 [skip ci]
  package.json
Due: prettier

Notes added by 'git notes add'
  d44e879dffaa726cbef6180558952145bd5e4584
Due: none

build(fmt): migrate to oxlint and oxfmt
  .eslintrc.cjs
  .github/workflows/release.yml
  .github/workflows/test.yml
  .nvmrc
  .oxfmtrc.json
  .oxlintrc.json
  .prettierrc.json
  README.md
  commitlint.config.cjs
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/api.md
  docs/composable.md
  docs/configuration.md
  docs/get-started.md
  docs/index.md
  package.json
  pnpm-lock.yaml
  release.config.cjs
  renovate.json
Due: prettier, eslint

fix(deps): update dependecies and types
  .eslintrc.cjs
  .oxfmtrc.json
  .prettierrc.json
  .zed/settings.json
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-2LNGDHTZ.js
  docs/.vitepress/cache/deps/chunk-2LNGDHTZ.js.map
  docs/.vitepress/cache/deps/chunk-6D52LDDM.js.map
  docs/.vitepress/cache/deps/chunk-WYSSMEGW.js
  docs/.vitepress/cache/deps/chunk-WYSSMEGW.js.map
  docs/.vitepress/cache/deps/chunk-XFJY6KS3.js
  docs/.vitepress/cache/deps/chunk-XFJY6KS3.js.map
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vue.js
  docs/index.md
  package.json
  pnpm-lock.yaml
  src/bem.ts
  src/constants.ts
  src/use-bem.ts
  tsconfig.json
Due: prettier, eslint

chore: update workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: update node version for semantic release
  .nvmrc
Due: none

chore(release): 1.1.9 [skip ci]
  dist/index.cjs
  dist/types/src/constants.d.ts
  dist/types/src/use-bem.d.ts
  package.json
Due: prettier, eslint

Notes added by 'git notes add'
  c1955f2892a90636b9e06bf01bcfd164e765ee65
Due: none

Path conditions:
  prettier: any of: *.{js,ts,vue,scss,json}
  eslint: any of: *.{js,ts,vue}
